@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #876061;
  --primaryDark: #531c1d;
  --background: #fbf4d5;
  --helper: #fcae04;
  --radius: 8px;
  --gradientwithOpacity: linear-gradient(
    90deg,
    rgba(135, 96, 97, 0.8) 0%, /* rgba version of --primary with opacity */
    rgba(83, 28, 29, 0.8) 100% /* rgba version of --primaryDark with opacity */
  );
}
body,
html {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%;
}
.slideOverlay {
  background: var(--gradientwithOpacity);
  position: absolute;
  width: 100%;
  height: 100%;
}
.primaryParagraph{
  @apply text-primaryDark text-sm;
}
.primaryHeading{
  @apply text-primaryDark sm:text-3xl md:text-5xl text-2xl;
}
.secondayHeading{
  @apply text-primaryDark sm:text-2xl md:text-3xl text-lg
}
.subHeading{
  @apply text-helper sm:text-2xl md:text-3xl text-lg relative pl-4 my-4 shadow-primaryDark py-2;
}
.subHeading::before {
  content: '';
 position: absolute;
 top:0;
 left: 0;
 width: 10px;
 height: 100%;
 background-color: var(--helper);
}
/* Reusable Primary Button Class */
.primaryButton {
  @apply bg-primaryDark text-white  border-2 border-primaryDark px-4 py-2 rounded-md cursor-pointer transition-colors duration-300 flex justify-center items-center max-w-xs max-h-12;
}
.primaryButton:hover {
  @apply bg-background border-2 border-primaryDark text-primaryDark;
}
/* Reusable Secondary Button Class */
.secondaryButton {
  @apply bg-primaryLight text-primaryDark border-2 border-primaryDark px-4 py-2 rounded-md cursor-pointer transition-colors duration-300 flex justify-center items-center max-w-xs max-h-12;
}
.secondaryButton:hover {
  @apply bg-primaryDark text-primaryLight;
}
.flex-center{
  @apply flex justify-center items-center;
}
.flex-between{
  @apply flex justify-between items-center;
}
.container{
  @apply max-w-[90vw] mx-auto;
}
.link{
  @apply text-helper underline text-lg transition-colors duration-300;
}
.link:hover{
  @apply text-helper font-semibold
}
.errorMessage{
  @apply text-lg text-red-600;
}
.successMessage{
  @apply text-lg text-green-600;
}
.formItem input[type='text']{
  @apply bg-background outline-none border-2 border-primaryDark rounded-lg p-2;
}
/* -----------Banner------------ */
.swiper-button-next,
.swiper-button-prev {
 color: var(--background) !important;;
}